#set($currentURL = "/c/portal/layout?$request.getQueryString()")

<div id="languageKeyList">
	<table class="listingTable shadowBox">
		<tbody>
			<tr>
				<th style="white-space:nowrap;">Language Variables - Keys without values</th>
				<th style="white-space:nowrap;">Flush Cache for keys without value</th>		
			</tr>
			<tr>
				<td>
					<p>On this page you will find the language keys without a filled value. The language keys without a value will only be available in the list when they are requested on one of the pages. Below this text are the list(s) with language keys sorted by the different languages. The list can be cleared by clicking on the flush button.</p>
				</td>
				<td class="buttonColumn">

					<form method="post" action="/app/servlets/languagevariables/portlet/flush/" id="languagevariables_without_value">
						<input type="hidden" name="referer" value="/c/portal/layout?${request.QueryString}" />
					</form>
					<button dojoType="dijit.form.Button" onClick="dojo.byId('languagevariables_without_value').submit()" iconClass="resetIcon">
						Flush Cache
					</button>

				</td>
			</tr>
			
			<tr>
				<td colspan="2">
				
					#set($languages = $languageWebAPI.getLanguages())
					#foreach($languageObject in $languages)
						#set($languageLocale = "/html/images/languages/" + $languageObject.getLanguageCode() + "_" + $languageObject.getCountryCode() + ".gif")
						
						<h1>Language: $languageObject.getLanguage(), $languageObject.getCountry()</h1><br />
						<table class="listingTable shadowBox">
							<tbody>
								<tr>
									<th style="white-space:nowrap; width:5px;">Status</th>
									<th style="white-space:nowrap; width:5px;">Language</th>
									<th style="white-space:nowrap;">Key</th>
									<th style="white-space:nowrap; width:95px;">Action</th>
								</tr>
								
								#set($keyWithoutValueList = $languageVariables.getKeysWithoutValue("$languageObject.getId()", $currentURL))
								#foreach($incompleteLanguageVariable in $keyWithoutValueList)
									<tr>
										<td style="text-align:center;">
										#if($incompleteLanguageVariable.status == "UNPUBLISHED")
											<div title="Unpublished">
												<span class="workingIcon"></span>
												<span class="greyDotIcon" style="opacity:.4"></span>
											</div>
										#elseif($incompleteLanguageVariable.status == "ARCHIVED")
											<div title="Archived">
												<span class="greyDotIcon" style="opacity:.4"></span><span class="archivedIcon"></span>
											</div>
										#elseif($incompleteLanguageVariable.status == "MISSING")
											<div title="Missing in current language">
												<span>Missing</span>
											</div>
										#elseif($incompleteLanguageVariable.status == "NOT_FOUND")
											<div title="Doesn't exists">
												<span>New</span>
											</div>
										#end
										</td>
										<td style="text-align:center;">
											<img src="$languageLocale">
										</td>
										<td>
											#if($incompleteLanguageVariable.status == "UNPUBLISHED" || $incompleteLanguageVariable.status == "ARCHIVED")
												<a href="$!{incompleteLanguageVariable.action.url}">$incompleteLanguageVariable.keyName</a>
											#else
												$incompleteLanguageVariable.keyName
											#end
										</td>
										<td>
											#if($incompleteLanguageVariable.status == "MISSING" || $incompleteLanguageVariable.status == "NOT_FOUND")
											<button dojoType="dijit.form.Button" onclick="location.href = '$!{incompleteLanguageVariable.action.url}'; return false;">
												$!{incompleteLanguageVariable.action.text}
											</button>
											#end
										</td>
									</tr>
								#end
								
								#if($keyWithoutValueList.size() == 0)
									<tr>
										<td colspan="4">
											All values for the used keys of this language are filled or they are still not triggered.
										</td>
									</tr>
								#end
				
							</tbody>
						</table>
						<br /><br />
					#end

				</td>
			</tr>
		</tbody>
	</table>
</div>

#if($request.getSession().getAttribute("languagevariables_flush_status") == "true")
	<script>
		showDotCMSSystemMessage("<div class=\"messageIcon resolveIcon\"></div>The cache has been flushed")
	</script>
	#set($dummy = $request.getSession().removeAttribute("languagevariables_flush_status"))
	
#elseif($request.getSession().getAttribute("languagevariables_flush_status") == "false")
	<script>
		showDotCMSSystemMessage("<div class=\"messageIcon deleteIcon\"></div>Error while flushing the cache")
	</script>
	#set($dummy = $request.getSession().removeAttribute("languagevariables_flush_status"))
#end
